/*Navigationsmenü---------------------------------------------------*/

/*Portfolio------------------------------------------------------*/

.Bilder {
  grid-template-columns: 1fr 1fr;
}

.Bilderindex {
  grid-template-columns: 1fr 1fr;
}

/*Schwabi------------------------------------------------------------*/

/*#HerleitungSchwabi {
	width: 600px;
}*/

/*Beautiful Trash------------------------------------------------------------*/
/*TypoPoster------------------------------------------------------------*/
/*Illustrations------------------------------------------------------------*/

/*Contact/About---------------------------------------------------*/
